
# Get values of some system/configuration variables
# used during compilation

# system info
Linux 6.14.0-33-generic
Ubuntu 24.04.3 LTS

# source info
sources path : /home/pv/brg/code_fortran/compas_lmgc90/src/lmgc90_dev
release      ; 2025.rc2
git branch   : oneapi
git revision : 12ea16d9bec884b50c6bb09d2b96ca295395d05b

# compilers info
Fortran compiler : GNU - 13.3.0
C       compiler : IntelLLVM - 2025.2.1
C++     compiler : IntelLLVM - 2025.2.1
option level : opt
openmp : OFF

# other compil info on
# cmake
cmake version : 3.28.3
# lapack
/opt/intel/oneapi/mkl/2025.2/lib/libmkl_gf_lp64.so;/opt/intel/oneapi/mkl/2025.2/lib/libmkl_gnu_thread.so;/opt/intel/oneapi/mkl/2025.2/lib/libmkl_core.so;/usr/lib/gcc/x86_64-linux-gnu/13/libgomp.so
# python
Python bindings for:
 - chipy : OFF
 - pre   : OFF
 


numpy : 

# swig
swig version  : 
     directory: 
     exe      : 

# deps info

# matlib
matlib version   : none
       to build  : OFF
       library   : 
       input path: 

# linear algebra
sparse algebra library: none
mumps to build : OFF

# hdf5
HDF5    : OFF
version : 
library : 

# siconos numerics
SiconosNumerics: OFF
to build       : FALSE

# external fem
ext fem : none
    path: 
    lib : 

# external MBS
ext mbs : none
    file: 

# external detection
ext detection: OFF
    file     : 


# install path info
path to venv: 
cmake install prefix: /usr/local


# configure options

standalone   : OFF
Fortran lib  : OFF
C lib        : OFF
tests        : ON
rTree binding: 
cython       : 


# doc
with doxygen   : ON
with docstrings: FALSE

