
# Get values of some system/configuration variables
# used during compilation

# system info
Linux 6.14.0-29-generic
Ubuntu 24.04.3 LTS

# source info
sources path : /home/pv/brg/code_fortran/compas_lmgc90/src/lmgc90_dev
release      ; 2025.rc2
git branch   : api_fortran_c
git revision : 3163fea13aeb2491f6acf994e7f5f85a64b9315f

# compilers info
Fortran compiler : GNU - 13.3.0
C       compiler : GNU - 13.3.0
C++     compiler : GNU - 13.3.0
option level : opt
openmp : OFF

# other compil info on
# cmake
cmake version : 3.28.3
# lapack
/usr/lib/x86_64-linux-gnu/libopenblas.so
# python
Python bindings for:
 - chipy : ON
 - pre   : ON
/home/pv/anaconda3/bin/python3 3.12.2
/home/pv/anaconda3/lib/libpython3.12.so

numpy : 1.26.4

# swig
swig version  : 4.2.0
     directory: /usr/share/swig4.0
     exe      : /usr/bin/swig4.0

# deps info

# matlib
matlib version   : none
       to build  : OFF
       library   : 
       input path: 

# linear algebra
sparse algebra library: none
mumps to build : OFF

# hdf5
HDF5    : OFF
version : 
library : 

# siconos numerics
SiconosNumerics: OFF
to build       : FALSE

# external fem
ext fem : none
    path: 
    lib : 

# external MBS
ext mbs : none
    file: 

# external detection
ext detection: OFF
    file     : 


# install path info
path to venv: 
cmake install prefix: /home/pv/anaconda3


# configure options

standalone   : OFF
Fortran lib  : OFF
C lib        : OFF
tests        : ON
rTree binding: OFF
cython       : cython-NOTFOUND


# doc
with doxygen   : ON
with docstrings: FALSE

