name: docs

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - uses: compas-dev/compas-actions.docs@v4
        with:
           github_token: ${{ secrets.GITHUB_TOKEN }}
           doc_url: https://BlockResearchGroup.github.io/compas_lmgc90